/*@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #1c1d22;
  font-family: "Varela Round", sans-serif;
}

.menu {
  display: flex;
  justify-content: top center;
  align-items: top center;
  max-width: 720px;
  margin: 0 auto;
  height: 5vh;
  list-style: none;
}

.menu li {
  width: 100px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}*/

#mynav {
    /* We want absolute positioning because we want the nav bar to be relative to its ancestor, the "wrapper" id container */
  position: absolute;
  width: 64em;
  text-align: left;
  
  /* You can use calc in CSS to calculate numbers, just like a calculator */
  max-width: calc(100% - 4em);
  padding: 1em;
  background-color: #f7f7f7;
  
  /* We want the top left and top right corner to be soft corners */
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align: center;
}
#mynav a {
  color: #636363;
}
#nav a:hover {
  color: #636363;
}
#mynav ul {
  margin: 0;
  padding: 0;
  
  /* No bullets in a list*/
  list-style: none;
}
#mynav ul li {
  display: inline-block;
  margin: 0 0.35em;
  padding: 0;
  /* Center the text vertically */
  vertical-align: middle;
}
#mynav ul li a {
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
  text-decoration: none;
}
#mynav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}
#mynav ul li a:active {
  background-color: #ffffff;
  box-shadow: none;
}
/* We have code that detects when you scroll to hit the navbar, the code will add the class "alt" to the "nav" element. This lets us change what the nav bar looks like when we keep scrolling down the page, making it permanently fixed on the page. */
#mynav.alt {
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  background-color: rgba(247, 247, 247, 0.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
  /* We want a HIGH z-index, because we want the navbar to be on      top of everything else. */
  z-index: 10000;
}
#mynav.alt ul li {
  margin: 0 0.175em;
}
#mynav.alt ul li a {
  font-size: 0.9em;
}