body {
    background-color: rgb(51, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: rgb(25,111, 3);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    text-align: center;
}


.box {
    background-color: rgb(16, 17, 17);
    padding: 100px;
    border: 1px solid #080707;
    box-shadow: rgba(54, 51, 51, 0.973) -5px 5px, rgba(0, 10, 3, 0.4) -10px 10px, rgba(0, 10, 3, 0.4) -15px 15px, rgba(0, 10, 3, 0.4) -20px 20px, rgba(0, 10, 3, 0.4) -25px 25px;
    
}
.box:hover{
    color: rgb(255, 255, 255); /* Change text color to blue on hover */
    text-shadow: 0 0 5px rgb(205, 205, 211); /* Add a text shadow for a glow effect */
}


#myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #070000;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.973);
    text-align: center;
    overflow:auto;
  }

  #modalContent{
    color:beige;
  }

  .challengeButton{
    text-align: center;
  }

  #chalBut{
    background: #f03d3d;
  }

  .blur {
    filter: blur(4px); /* Apply the blur filter */
  }
